.title {
  text-align:center;
  color: rgb(84, 28, 99);
  background-color: #d7d1d1;
}

body {
  height: 100%;
  width:100%;
  background-color: #d7d1d1;
}

p {
  text-align: center;
  touch-action: pinch-zoom;
}

#discription{
  height: 70px;
  width: 350px;
}

#output1{
  width: 300px;
  height:30px;
  margin-left: auto;
  margin-right: auto;
}

#canvas{
  width: 500px;
  height:100px;
  margin-left:0% ;
  margin-right: 0%;
  background-position: center;
  background-size: cover;
  flex-shrink: inherit;
}

img {
  height:180px;
  width: 1398px;
  object-fit: cover;
  display: flex;

  margin-left: 20px;
  margin-right: 20px; 
}

.content1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.content2 {
  text-align: center;
  color: rgb(0, 0, 0);
}

h3 {
  text-align: center;
  color: rgb(228, 33, 33);
}

