body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
}

.title {
  text-align: center;
  color: rgb(84, 28, 99);
  background-color: #d7d1d1;
}


.column {
  float: inline-start;
  width: 32%;
  overflow: hidden;
  padding: 5px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* Image Upload Section */
.ImageUpload {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

/* Image Display Section */
.ImageDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.OriginalImage, .ColorizedImage {
  margin: 20px;
  width: 256px;  /* Width set to 256px */
  height: 256px; /* Height set to 256px */
  background-position: center; /* Center the background image */
  background-size: contain; /* Contain the image within the div without cropping */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-image:url('addimage.webp');

}

.OriginalImage img, .ColorizedImage img {
  width: 100%;  /* Width of the image */
  height: 100%; /* Height of the image */
/*  object-fit: cover; /* This ensures the image maintains its aspect ratio */
}

h3, h5 {
  text-align: center;
  color: #111;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    max-width: 100%;
  }

  .ImageDisplay {
    flex-direction: column;
  }

  .OriginalImage, .ColorizedImage {
    width: 100%;
    height: auto;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#bottom {
  text-align: right;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #ffffff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
